################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/couples-retreat-itinerary
/.vs/slnx.sqlite
/.vs/couples-retreat-itinerary/v17/DocumentLayout.json
/.vs/couples-retreat-itinerary/v17/.wsuo
/.vs/VSWorkspaceState.json
